@page "{id}"
@model FlavorLink.WebApp.Pages.Recipes.DeleteModel
@{
	ViewData["Title"] = "Delete";
	var photoPath = "~/images/" + (Model.Recipe.ImagePath ?? "noImage.jpg");
}


<h1>Delete Confirmation</h1>
<div class ="alert alert-danger">
	<h5>Are you sure you want to delete employee - @Model.Recipe.Name</h5>
	<form method="post">
		<button type="submit" class="btn btn-danger">Yes</button>
		<a class="btn btn-primary" asp-page="/Recipes/Index">No</a>
	</form>
</div>

