@page "/recipes/{id}"
@model FlavorLink.WebApp.Pages.Recipes.DetailsModel
@{
	ViewData["Title"] = "Details";
	var photoPath = "~/images/" + Model.Recipe.ImagePath ?? "no-image.jpg";
}


<div class="row justify-content-center m-3">
	<div class="col-sm-8">

		<div class="card">
			<div class="card-header">
				<h1>@Model.Recipe.Name</h1>
			</div>
		</div>
		@*@if (Model.isAdmin)
		{
		<!-- exibe botoes de editar receita, aprovar receita etc -->

		}*@
		<div class="card-body text-center">

			<img class="card-img-top" src="@photoPath" asp-append-version="true" />

			<h3>Ingredients</h3>
			<p>The ingredients</p>

			<h3>Measurements</h3>
			<p>The measures</p>

			<p3>Preparation Method: @Model.Recipe.PrepMethod</p3>
						
			<h6>Recipe Rating: @Model.Recipe.Rating</h6>
			
			

		</div>

		<div class="card-footer text-center">
			<a asp-page="/Recipes/index" class="btn btn-primary">Back</a>
		</div>
	</div>



</div>