@page
@model FlavorLink.WebApp.Pages.NotFoundModel
@{
	ViewData["Title"] = "Page not found";
}

<h1>The page you are looking for cannot be found</h1>

<a asp-page="/Recipes/Index" class="btn btn-primary">
	Back to Home
</a>

