@page "{id}"
@model FlavorLink.WebApp.Pages.Ingredients.DeleteModel
@{
}

<h1>Delete Ingredients</h1>

}

<div class="alert alert-danger">
	<h5>Are you sure you want to delete this ingredients ?</h5>
	<form method="post">
		<button type="submit" class="btn btn-danger">Yes</button>
		<a class="btn btn-primary" asp-route-id="@Model.Recipe.Id">No</a>
	</form>
</div>
