@page
@model FlavorLink.WebApp.Pages.Users.UserExistsModel
@{
}

<h1>The username is already taken. Please choose a different username."</h1>

<a asp-page="/Users/Register" class="btn btn-primary">
	Back to Register
</a>